*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color:rgb(34, 1, 34);
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:linear-gradient(45deg,rgb(73, 73, 74)c,#585841);
}
.container-fluid{
    background-color: black;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px 50px;
    padding:100px 50px;
}
.container .card{
position: relative;
display: flex;
justify-content: center;
align-items: flex-start;
width: 300px;
height: 200px;
background: gray;
border-radius: 20px;
box-shadow: 0 35px 80px black;
transition: 0.5s;
}
.container .card:hover{
height: 300px;
}
.container .card .img8x{
    position: absolute;
    top:20px ;
    width: 270px;
    height: 200px;
    border-radius: 12px;
    background: #333;
    overflow: hidden;
    transition: 0.5s;
    box-shadow:3px 4px  #360335;
}
.container .card:hover .img8x{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px rgb(0, 0, 0) ;
}
.container .card .img8x img{
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}
.container .card .content h2{
    text-align: center;
}
.container .card .content h6{
    text-align: center;
}
.container .card .content p{
    text-align: center;
    font-size: 19px;
}
.container .card:hover.content{
    top: 250px;
    height: 250px;
    overflow: visible;
}
.container .card .content a{
    display: inline-block;
    background-color: #360335;
    text-decoration: none;
    color: wheat;
    text-align: center;
    margin-left: 90px;
}



.continue{
    text-align: center;
    color:rgb(182, 156, 182);
    background-color: black;
    text-align: center;
    border-radius: 18px;
}
.title{
    text-align: center;
    color: antiquewhite;
    
}
