@import url('https://fonts.googleapis.com/css2?family=Alike&family=Inclusive+Sans:ital@1&family=Kaisei+Decol:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inclusive Sans', sans-serif;
}

body{
    background-color: rgb(34, 1, 34);
}
.container1{
    width:100%;
    height: 500px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)),url(big.jpg);
    background-position: center;
    background-size:cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;  
}
.col{
    flex-basis: 50%;
}
h1{
    color: bisque;
    font-size: 80px;
}
p{
    color: antiquewhite;
    line-height: 15px;
}
.btn{
    width: 180px;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 0;
    background-color:rgb(53, 2, 53);
    border-color: black;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card1{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 5px;
    background-image: url(tikka.webp);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1 p{
    color: rgb(0, 0, 0);
}
.card2{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 5px;
    background-image: url(tikka2.jpg);
    background-position: center;
    background-size: cover;
}
.card2 p{
    color: rgb(0, 0, 0);
}
.card3{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 5px;
    background-image: url(tikka\ 3.jpg);
    background-position: center;
    background-size: cover;
}
.card3 p{
    color: rgb(33, 0, 0);
}
.card4{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 5px 5px;
    background-image: url(tikka4.jpg);
    background-position: center;
    background-size: cover;
}
.card4 p{
    color: rgb(0, 0, 0);
}
.card1:hover{
    transform: translateY(-10px);
}
.card2:hover{
    transform: translateY(-10px);
}
.card3:hover{
    transform: translateY(-10px);
}
.card4:hover{
    transform: translateY(-10px);
}
.container-fluid{
    text-align: center;
    color:rgb(182, 156, 182);
    background-color: black;
}
